h1{
    color: green;
}

h2{
    color: indianred;
}

h3{
    color: khaki;
}

h4{
    color: lightgreen;
}

h5{
    color: lightskyblue;
}

h6{
    color: maroon;
}

p{
    color: mediumturquoise;
}